@import '../variables';

.balance-block {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $balance-bg;
  text-align: center;

  &.home {
    justify-content: space-evenly;
    text-align: center;
  }

  &.cost {
    display: block;
    background-color: $balance-bg-cost;
  }

  &.income {
    display: block;
    background-color: $balance-bg-income;
  }

  span {
    height: 73px;
    font-size: 48px;
    line-height: 73px;
    color: $balance-color-txt;
  }

  button {
    border: none;

    &.cost {
      background-color: #ff8f8f;
    }

    &.add {
      background-color: #21ff21;
    }
  }

  img {
    padding: 2px 0 2px 0px;
  }
}
