@import '_fonts.scss';
@import '_variables.scss';
@import 'components/all';

body,
p,
span {
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  font-family: 'Roboto';
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 16px 16px;
  font-size: 18px;
  line-height: 21px;

  &.remove {
    padding: 5px 20px;
    background-color: $background;
    color: $remove-color;
    border: 2px solid $balance-block-border;
    border-radius: 5px;

    &:hover {
      color: $balance-color-txt;
      background-color: $remove-color;
      border: $remove-color;
    }
  }
}

a {
  text-decoration: none;
}

input {
  border: none;
  color: $balance-color-txt;

  &::placeholder {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
    color: $balance-color-txt;
    background: transparent;
  }
}

.wrapper {
  width: 415px;
  height: 712px;
  background-color: $background;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $balance-block-border;

  button {
    height: 63px;
    width: 117px;
    padding: 21px 16px;
    color: $balance-color-txt;
    display: flex;
    align-items: center;

    img {
      padding-right: 7px;
    }
  }

  span {
    color: $balance-color-txt;
  }
}

.balance-input {
  padding: 21px;
  width: 373px;
  background: $balance-block-border;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21px;

  &:nth-of-type(1) {
    margin-top: 34px;
  }

  &__description {
    display: block;
    max-width: 315px;
    padding: 22px;
    color: $balance-block-border;
  }
}

.description {
  input {
    width: 399px;
    padding: 16px 0 16px 16px;
    background-color: transparent;
    border-bottom: 2px solid $balance-block-border;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
  }
}

.list-controller {
  display: flex;
  justify-content: center;
}

.auth-container {
  min-width: 320px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;

  input {
    width: 300px;
    margin-bottom: 20px;
    padding: 16px 0 16px 16px;
    border: 1px solid $balance-block-border;
    background-color: transparent;
    font-size: 18px;
    line-height: 21px;
  }
}

.auth-container__buttons {
  min-width: 318px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    color: $balance-color-txt;
    border: 1px solid $balance-block-border;

    &.signin {
      border: 1px solid $balance-bg;
      background-color: $balance-bg;
    }
  }
}
